{% extends "base.html" %}
<h2>Welcome</h2>
    <h3 style="font-size:10pt;">
        時間: {{ now }} </h3>

    {% block content %}
        {% for i in post_lists %}
        <div class="post-card">
            <h5 style="font-size:15pt;", font-weight: bold;>
            <br> {{ i.title }} <br> </h5>
            <h3 style="font-size:10pt;">
            <br> {{ i.body|slice:50 }}<br></h3> 
            <a href="/post/"{{i.slug}}>more</a>
            <div class="timestamp">時間: {{ i.pub_date }}</div>
        </div>

        {% empty %}
            <div class="post-card">
                <h5>目前沒有任何文章。</h5></div>
        {%endfor %}
    {% endblock %}

