{% extends "base.html" %}

{% block title %}裝狗D咖米唰 台科{% endblock %}

{% block school_name %}
    <span class="navbar-text">台科</span>
{% endblock %}

{% block headmsg %}
    <h3>{{ post.title }}/網址: {{ post.slug }} <br></h3>
{% endblock %}

{% block content %}
    {% for i in list_posts %}
        {% if i.slug == "NTUST" %}
        <div class="post-card">
            <h5 style="font-size:15pt;", font-weight: bold;>
            <br> {{ i.title }} <br> </h5>
            <h3 style="font-size:10pt;">
            <br> {{ i.body }} <br>
            </h3>
            <div class="timestamp">時間: {{ i.pub_date }}</div>
        </div>
        {% endif %}

    {% empty %}
        <div class="post-card">
            <h5>目前沒有任何文章。</h5></div>
    {%endfor %}
{% endblock %}